@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #020617;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to right, #0f172a, #1e3a8a); /* Zastępuje from-slate-900 to-blue-900 */
  
  font-family: 'Montserrat', sans-serif; /* Użycie Montserrat jako podstawowej czcionki */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif; /* Użycie Poppins dla nagłówków */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
#impact {
  padding-top: 100px !important;
  background: linear-gradient(to right, #0f172a, #1e3a8a);

}

/* Zmniejszenie odstępu na urządzeniach mobilnych */
@media (max-width: 768px) {
  #impact {
    padding-top: 10px !important; /* Zmniejszona wartość paddingu na urządzeniach mobilnych */
  }
}

@media (max-width: 480px) {
  #impact {
    padding-top: 10px !important; /* Dodatkowe zmniejszenie na bardzo małych ekranach */
  }
}

